<!----------------------------------------------------------
 * Exam 2: Evil Hangman
 * Date: 26-Oct-2015
 * Authors:
 *           A01165829 Pedro Picapicapiedra Rodriguez 
 *           A01165988 Pablo Marmol Gaytán
 *---------------------------------------------------------->
<!DOCTYPE html>

<html>
  <head>
    <title>Error: OOPS</title>
    <h1>Something went wrong :c</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>A word with that length doesn't exist! Try again faggit.</p>
    <p>[<a href="http://localhost:3000">Regresar al menú principal</a>]
    </p>

  </body>
</html>
