<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action = "/game" method = "post">
    <p>
        Length:
        <input type ="number" name = "length" />
    </p>
    <p>
        Number of Tries :
         <input type = "number" name = "tries" />
    </p>
    <p>
        <input type ="submit" value= "Play" >
    </p>
    
   </form>
  </body>
</html>
