<!----------------------------------------------------------
 * Exam 2: Evil Hangman
 * Date: 26-Oct-2015
 * Authors:
 *           A01165829 Pedro Picapicapiedra Rodriguez 
 *           A01165988 Pablo Marmol Gaytán
 *---------------------------------------------------------->
<!DOCTYPE html>

<html>
  <head>
    <title>You have failed...</title>
    <h1>You have failed young padawan :c</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="yoda.jpg" alt="sad Yoda">
    <p>Try again you must.</p>
    <p>[<a href="http://localhost:3000">Regresar al menú principal</a>]
    </p>
  <footer>
    Desarrollo de aplicaciones web
  </footer>
  </body>
</html>
